APP_NAME=RecruitLens
ENVIRONMENT=development
DATABASE_URL=postgresql://recruitlens:recruitlens@localhost:5432/recruitlens
GROQ_API_KEY=your_groq_key_here

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

GITHUB_TOKEN=your_token_here

GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:8000/integrations/gmail/callback

JWT_SECRET_KEY=some-long-random-string-you-generate

CONTACT_EMAIL_ADDRESS=your mail address here
CONTACT_EMAIL_APP_PASSWORD=your_16_char_app_password_here